

.navbar {
    background-color: #1e40af; /* bg-blue-800 */
    padding: 1rem; /* p-4 */
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; /* h-16 */
}

.title {
    font-size: 1.25rem; /* text-xl */
    font-weight: bold; /* font-bold */
    color: white; /* text-white */
}

.nav-links {
    display: flex;
    gap: 1rem; /* space-x-4 */
}

.nav-link {
    color: white; /* text-white */
}

.nav-link:hover {
    color: #a1a1aa; /* hover:text-gray-300 */
}

/* styles.css */
.flex {
    display: flex;
  }
  
.flex-row {
flex-direction: row;
}

.flex-1 {
    flex: 1;
}

/* Sidebar styles */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 10%; /* 设置为页面宽度的20% */
    min-width: 200px;
    max-width: 300px;
    border: 1px solid #ddd; /* 添加边框 */
    box-sizing: border-box; /* 确保边框包含在宽度内 */
    height: calc(100vh - 60px); /* 假设底部栏高度为60px */
    justify-content: top; /* 文本垂直居中 */
    align-items: center; /* 文本水平居中 */
    resize: horizontal; /* 允许水平调整大小 */
    overflow: auto; /* 确保内容溢出时可以滚动 */
}

.sidebar h2 {
    font-size: 1.125rem; /* text-lg */
    font-weight: bold; /* font-bold */
    margin-bottom: 1rem; /* mb-4 */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* 确保列表宽度占满侧边栏 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 列表项水平居中 */
}

.sidebar li {
    margin-bottom: 0.5rem; /* space-y-2 */
}

.sidebar a {
    color: inherit;
    text-decoration: none;
}

.sidebar a:hover {
    color: #b8c2cc; /* hover:text-gray-300 */
}

/* BlogContent styles */
.grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(125px, 1fr)); /* 修改为按列排列 */
    gap: 20px;
    grid-auto-flow: column; /* 设置按行排列 */
    padding: 16px;
}

.blog-content {
    /* overflow: hidden; 确保内容不会溢出 */
    border: 1px solid #ddd;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    transition: box-shadow 0.3s ease; /* transition duration-300 */
    position: relative; /* 添加相对定位 */
    display: flex; /* 使用flex布局 */
    flex-direction: column; /* 设置为垂直排列 */
    justify-content: space-between; /* 内容在垂直方向上均匀分布 */
    height: auto; /* 确保高度自适应 */
}

.blog-content:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* hover:shadow-lg */
}

.blog-content img {
    width: 100%;
    height: auto;
    object-fit: cover; /* 使图片覆盖整个容器 */
}

.blog-content .content-details {
    padding: 1rem; /* 增加内边距 */
    box-sizing: border-box; /* 确保内边距包含在宽度内 */
    display: flex;
    flex-direction: column; /* 设置为垂直排列 */
    justify-content: space-between; /* 内容在垂直方向上均匀分布 */
    height: 100%; /* 确保高度自适应 */
}

.blog-content h2 {
    font-size: 1.25rem; /* text-xl */
    font-weight: bold; /* font-bold */
    margin-bottom: 0.5rem; /* mb-2 */
    color: black; /* text-white */
}

.blog-content p {
    font-size: 0.875rem; /* text-sm */
    color: #718096; /* text-gray-600 */
    color: #333; /* 确保日期颜色为白色 */
}

.react-resizable-handle {
    width: 10px;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    cursor: col-resize;
  }